# .dockerignore

# Git
.git
.gitignore

# Docker
Dockerfile

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.venv
venv/

# Node
node_modules/
package-lock.json
npm-debug.log

# IDE / OS specific
.vscode/
.idea/
.DS_Store